{% extends 'base.html.twig' %}

{% block title %}Person Search{% endblock %}

{% block pageheader %}
    <h1>Person Search</h1>
    {% embed 'AppBundle:misc:search-header.html.twig' with { 'peopleResults': people, 'aliasesResults': aliases } %}
        {% block callback %}
            <p class="count">
                Displaying {{ peopleResults|length + aliasesResults|length }} search results of {{ peopleResults.getTotalItemCount + aliasesResults.getTotalItemCount }} total.
            </p>
        {% endblock %}
    {% endembed %}
{% endblock %} 

{% block body %}

    {% include 'AppBundle:misc:search-form.html.twig' with {'search_path': 'person_search'} %}

    {% if q %}
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">People</h2>
                {% if people.items == null and people.currentPageNumber == 1 %}
                    <p>No results for this query</p>
                {% elseif people.items == null and people.currentPageNumber > 1 %}
                    <p>No results for this page</p>
                {% else %}
                    <p class="count">Displaying {{ people.items|length }} people results of {{ people.getTotalItemCount }} total.</p>
                    {% include 'AppBundle:person:partial/table.html.twig' %}
                    {% endif %}
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Alternate Names</h2>
                {% if aliases.items == null and aliases.currentPageNumber == 1 %}
                    <p>No results for this query</p>
                {% elseif aliases.items == null and aliases.currentPageNumber > 1 %}
                    <p>No results for this page</p>
                {% else %}
                    <p class="count">Displaying {{ aliases.items|length }} alternate name results of {{ aliases.getTotalItemCount }} total.</p>
                    {% include 'AppBundle:alias:partial/table.html.twig' %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% include 'AppBundle:misc:search-footer.html.twig' with {'results': people} %}

{% endblock %}
