{% extends 'base.html.twig' %}

{% block title %}{{ person.fullName }}{% endblock %}

{% block pageheader %}
    <h1>{{ person.fullName }}</h1>
    <div class="row">
        <div class="col-sm-6 text-left">
            {% if previous %}
                Previous person: {% embed 'AppBundle:person:partial/link.html.twig' with {'person': previous} %}{% endembed %}
            {% endif %}
        </div>
        <div class="col-sm-6 text-right">
            {% if next %}
                Next person: {% embed 'AppBundle:person:partial/link.html.twig' with {'person': next} %}{% endembed %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('person_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
            {% if is_granted('ROLE_CONTENT_EDITOR') %}
                <a href="{{ path('person_edit', { 'id': person.id }) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-edit'></span> Edit
                </a>
                {% if is_granted('ROLE_CONTENT_EDITOR') %}
                    <a href="{{ path('person_delete', { 'id': person.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Person?">
                        <span class='glyphicon glyphicon-remove'></span> Delete
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th><span data-toggle="popover" data-content="Person's full name" data-trigger="hover" data-placement="bottom">Full Name</span></th>
                <td>{{ person.fullName }}</td>
            </tr>
            {% if is_granted('ROLE_CONTENT_EDITOR') %}
                <tr>
                    <th><span data-toggle="popover" data-content="Name listed last name, first name. Not visible to public." data-trigger="hover" data-placement="bottom">Sortable Name</span></th>
                    <td>{{ person.sortableName }}</td>
                </tr>
                <tr>
                    <th><span data-toggle="popover" data-content="Person's gender" data-trigger="hover" data-placement="bottom">Gender</span></th>
                    <td>{{ include('AppBundle:person:partial/gender.html.twig') }}</td>
                </tr>
            {% endif %}
            <tr>
                <th><span data-toggle="popover" data-content="Notes about the entry" data-trigger="hover" data-placement="bottom">Notes</span></th>
                <td>{{ person.description|raw }}</td>
            </tr>
            {% if is_granted('ROLE_CONTENT_EDITOR') %}
                <tr>
                    <th><span data-toggle="popover" data-content="These notes are ony available to logged-in users" data-trigger="hover" data-placement="bottom">Research Notes</span></th>
                    <td>{{ person.notes|raw }}</td>
                </tr>
            {% endif %}
            <tr>
                <th><span data-toggle="popover" data-content="Date of birth" data-trigger="hover" data-placement="bottom">Birth date</span></th>
                <td>{% if person.birthDate %}{{ person.birthDate }}{% endif %}</td>
            </tr>
            <tr>
                <th><span data-toggle="popover" data-content="Location for place of birth" data-trigger="hover" data-placement="bottom">Birthplace</span></th>
                <td>
                    {% if person.birthPlace %}
                        <a href="{{ path('place_show', { 'id': person.birthPlace.id}) }}">
                            {{ person.birthPlace }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th><span data-toggle="popover" data-content="Date of death" data-trigger="hover" data-placement="bottom">Death date</span></th>
                <td>{% if person.deathDate %}{{ person.deathDate }}{% endif %}</td>
            </tr>
            <tr>
                <th><span data-toggle="popover" data-content="Location for place of death" data-trigger="hover" data-placement="bottom">Deathplace</span></th>
                <td>
                    {% if person.deathPlace %}
                        <a href="{{ path('place_show', { 'id': person.deathPlace.id}) }}">
                            {{ person.deathPlace }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th><span data-toggle="popover" data-content="List of known residences" data-trigger="hover" data-placement="bottom">Residences</span></th>
                <td>
                    {% if person.residences | length > 0 %}
                        <ul>
                            {% for residences in person.residences %}
                                <li>
                                    <a href="{{ path("place_show", {"id":residences.id}) }}">
                                        {{ residences }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th><span data-toggle="popover" data-content="Alternate names or aliases including maiden names" data-trigger="hover" data-placement="bottom">Alternate Names</span></th>
                <td>
                    {% if person.aliases | length > 0 %}
                        <ul>
                            {% for aliases in person.aliases %}
                                <li>
                                    <a href="{{ path("alias_show", {"id":aliases.id}) }}">
                                        {{ aliases }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Publishers</th>
                <td>
                    {% if publishers | length > 0 %}
                        <ul>
                            {% for publisher in publishers %}
                                <li>
                                    <a href="{{path('publisher_show', {'id': publisher.id}) }}">
                                        {{ publisher }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>URL Links</th>
                <td>
                    {% if person.urlLinks | length > 0 %}
                        <ul>
                            {% for urlLink in person.urlLinks %}
                                <li><a href="{{ urlLink }}">{{ urlLink }}</a></li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>


    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#books" aria-controls="home" role="tab" data-toggle="tab">Books</a></li>
            <li role="presentation"><a href="#collections" aria-controls="profile" role="tab" data-toggle="tab">Collections</a></li>
            <li role="presentation"><a href="#periodicals" aria-controls="messages" role="tab" data-toggle="tab">Periodicals</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="books">
                {% set contributions = person.getContributions(constant('AppBundle\\Entity\\Publication::BOOK')) %}
                {% if contributions | length > 0 %}
                    <ul>
                        {% for contribution in contributions %}
                            {% set publication = contribution.publication %}
                            <li>
                                {% embed 'AppBundle:publication:partial/link.html.twig' with {'publication': publication} %}
                                    {% block callback %}
                                        <i>{{ publication.title }}</i>
                                        {%- if publication.dateYear %}, {{ publication.dateYear }}{% endif -%}
                                        {%- if contribution.role.name != 'author' %}, {{ contribution.role }}{% endif -%}
                                    {% endblock %}
                                {% endembed %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane" id="collections">
                {% set contributions = person.getContributions(constant('AppBundle\\Entity\\Publication::COMPILATION')) %}
                {% if contributions | length > 0 %}
                    <ul>
                        {% for contribution in contributions %}
                            {% set publication = contribution.publication %}
                            <li>
                                {% embed 'AppBundle:publication:partial/link.html.twig' with {'publication': publication} %}
                                    {% block callback %}
                                        <i>{{ publication.title }}</i>
                                        {%- if publication.dateYear %}, {{ publication.dateYear }}{% endif -%}
                                        {%- if contribution.role.name != 'author' %}, {{ contribution.role }}{% endif -%}
                                    {% endblock %}
                                {% endembed %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane" id="periodicals">
                {% set contributions = person.getContributions(constant('AppBundle\\Entity\\Publication::PERIODICAL')) %}
                {% if contributions | length > 0 %}
                    <ul>
                        {% for contribution in contributions %}
                            {% set publication = contribution.publication %}
                            <li>
                                {% embed 'AppBundle:publication:partial/link.html.twig' with {'publication': publication} %}
                                    {% block callback %}
                                        <i>{{ publication.title }}</i>
                                        {%- if publication.dateYear %}, {{ publication.dateYear }}{% endif -%}
                                        {%- if contribution.role.name != 'author' %}, {{ contribution.role }}{% endif -%}
                                    {% endblock %}
                                {% endembed %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'NinesFeedbackBundle:comment:comment-interface.html.twig' with { 'entity': person } %}

{% endblock %}
