{% extends 'base.html.twig' %}

{% block title %}{{ alias.name }}{% endblock %}

{% block pageheader %}
    <h1>{{ alias.name }}</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar pb-1">
        <div class="btn-group ms-auto">
            <a href="{{ path('alias_index') }}" class="btn btn-light">
                <span class="bi bi-arrow-left"></span> Back
            </a>
            {% if is_granted('ROLE_CONTENT_EDITOR') %}
                <a href="{{ path('alias_edit', { 'id': alias.id }) }}" class="btn btn-light">
                    <span class='bi bi-pencil-square'></span> Edit
                </a>
                {% if is_granted('ROLE_CONTENT_ADMIN') %}
                    <a href="{{ path('alias_delete', { 'id': alias.id }) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this Alias?">
                        <span class='bi bi-x'></span> Delete
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th><span data-bs-toggle="popover" data-content="Complete alias (full name) of the listed person" data-trigger="hover" data-placement="bottom">Name</span></th>
                <td>{{ alias.name }}</td>
            </tr>
            <tr>
                <th><span data-bs-toggle="popover" data-content="Is the name at birth?" data-trigger="hover" data-placement="bottom">Birth Name</span></th>
                <td>{% include 'misc/bool.html.twig' with {'value': alias.maiden} %}</td>
            </tr>
            <tr>
                <th><span data-bs-toggle="popover" data-content="Is the name at birth?" data-trigger="hover" data-placement="bottom">Married Name</span></th>
                <td>{% include 'misc/bool.html.twig' with {'value': alias.married} %}</td>
            </tr>
            <tr>
                <th><span data-bs-toggle="popover" data-content="Notes about the entry" data-trigger="hover" data-placement="bottom">Notes</span></th>
                <td>{{ alias.description|raw }}</td>
            </tr>
            {% if is_granted('ROLE_CONTENT_EDITOR') %}
                <tr>
                    <th><span data-bs-toggle="popover" data-content="These notes are only available to logged-in users" data-trigger="hover" data-placement="bottom">Research Notes</span></th>
                    <td>{{ alias.notes|raw }}</td>
                </tr>
            {% endif %}
            <tr>
                <th><span data-bs-toggle="popover" data-content="Person to whom entry refers" data-trigger="hover" data-placement="bottom">People</span></th>
                <td>
                    {% if alias.people | length > 0 %}
                        <ul>
                            {% for person in alias.people %}
                                <li>
                                {% embed 'person/partial/link.html.twig' %}
                                {% endembed %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {% include '@NinesFeedback/comment/comment-interface.html.twig' with { 'entity': alias } %}

{% endblock %}
