{% extends 'base.html.twig' %}

{% block title %}Colleciton Contribution Edit{% endblock %}

{% block body %}
    <h1>Collection Contribution Edit</h1>
    <p class="count">
        Editing contribution for <em>{{ contribution.publication.title }}</em>.
    </p>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class='btn-group'>
        <input type="submit" value="Update" class="btn btn-primary" />
        <a href="{{ path('compilation_show_contributions', { 'id': contribution.getPublicationId() }) }}" class="btn btn-warning">Cancel</a>
    </div>
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('person_new_popup') }}" class="btn btn-primary popup" id="newPlace"><span class="glyphicon glyphicon-plus"></span> Person</a>
        </div>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}
