{% extends 'base.html.twig' %}

{% block title %}Collections{% endblock %}

{% block pageheader %}
    <h1>Collection List</h1>
    <p class="count">
        Displaying {{ compilations|length }} collections of {{ compilations.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <div class='btn-toolbar pb-1'>
            <div class='btn-group ms-auto'>
                <a href="{{ path('compilation_new') }}" class="btn btn-light">
                    <span class="bi bi-plus-lg"></span> New
                </a>
            </div>
        </div>
    {% endif %}
    <form method="get" action="{{ path('search_title') }}">
        <input type="hidden" value="Compilation" name="filters[recordType][]" />

        <div class="input-group my-3">
            <input type="search" class="form-control" placeholder="Search term..." aria-label="Search term" name="q" id="q" value="" />
            <button class="btn btn-primary" type="submit" id='btn-search'>
                <i class="bi bi-search"></i> Search
            </button>
        </div>
    </form>

    {% include 'compilation/partial/table.html.twig' %}

    <div class="navigation">
        {{ knp_pagination_render(compilations) }}
    </div>

    <div class="navigation">
        {% include 'misc/alpha.html.twig' with {'letters': activeLetters} %}
    </div>

{% endblock %}
