{% extends 'base.html.twig' %}

{% block title %}Collection Contributions List{% endblock %}

{% block body %}
    <h1>Collection Contributions List</h1>
    <p class="count">
        Displaying contributions for <em>{{compilation.title}}</em>.
    </p>

    <div class="btn-toolbar pb-1">
        <div class="btn-group ms-auto">
                <a href="{{ path('compilation_new_contribution', { 'id': compilation.id }) }}" class="btn btn-primary">
                    <span class="bi bi-plus-lg"></span> Contribution
                </a>
                <a href="{{ path('compilation_edit', { 'id': compilation.id }) }}" class="btn btn-light">Back</a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Role</th>
                <th>Contributor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contribution in compilation.contributions %}
                <tr>
                    <td>{{ contribution.role }}</td>
                    <td>{{ contribution.person }}</td>
                    <td>
                        <div class="btn-toolbar pb-1">
                            <div class="btn-group">
                                    <a href="{{ path('compilation_edit_contributions', { 'id': contribution.id }) }}" class="btn btn-light">
                                        <span class='bi bi-pencil-square'></span> Edit
                                    </a>
                                    <a href="{{ path('compilation_delete_contributions', { 'id': contribution.id }) }}" class="btn btn-danger" data-confirm="Are you sure you want to delete this Contribution?">
                                            <span class=' bi bi-trash'></span> Delete
                                    </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}