{% extends 'base.html.twig' %}

{% block title %}{{ genre.label }}{% endblock %}

{% block pageheader %}
    <h1>{{ genre.label }}</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar pb-1">
        <div class="btn-group ms-auto">
            <a href="{{ path('genre_index') }}" class="btn btn-light">
                <span class="bi bi-arrow-left"></span> Back
            </a>
            {% if is_granted('ROLE_CONTENT_EDITOR') %}
                <a href="{{ path('genre_edit', { 'id': genre.id }) }}" class="btn btn-light">
                    <span class='bi bi-pencil-square'></span> Edit
                </a>
                {% if is_granted('ROLE_CONTENT_ADMIN') %}
                    <a href="{{ path('genre_delete', { 'id': genre.id }) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this Genre?">
                        <span class='bi bi-x'></span> Delete
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {{ include('@NinesUtil/term/partial/show.html.twig', { 'term': genre }) }}

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a href="#book" class="nav-link active" aria-controls="messages" role="tab" data-bs-toggle="tab">Books</a></li>
            <li role="presentation" class="nav-item"><a href="#compilation" class="nav-link" aria-controls="messages" role="tab" data-bs-toggle="tab">Collection</a></li>
            <li role="presentation" class="nav-item"><a href="#periodical" class="nav-link" aria-controls="messages" role="tab" data-bs-toggle="tab">Periodicals</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="book">
                {% embed 'publication/partial/list.html.twig' with {'publications': genre.publications(constant('App\\Entity\\Publication::BOOK'), 'year') } %}
                {% endembed %}
            </div>

            <div role="tabpanel" class="tab-pane" id="compilation">
                {% embed 'publication/partial/list.html.twig' with {'publications': genre.publications(constant('App\\Entity\\Publication::COMPILATION'), 'year') } %}
                {% endembed %}
            </div>

            <div role="tabpanel" class="tab-pane" id="periodical">
                {% embed 'publication/partial/list.html.twig' with {'publications': genre.publications(constant('App\\Entity\\Publication::PERIODICAL')) } %}
                {% endembed %}
            </div>
        </div>
    </div>

{% endblock %}
