<div class='list-group'>
    {% for i in 0..(result.count-1) %}
        {% set document = result.getDocument(i) %}
        {% set entity = result.entity(i) %}
        <a href='{{ linker.link(entity) }}' class='list-group-item'>
            <b>{{ document.type_s -}}: {{ entity }}</b><br />

            {% for field, highlight in result.getHighlighting(i) %}
                {{ field|split('_')|slice(0, -1)|join(' ')|title }}: {{ highlight|join('...')|raw }}<br/>
            {% endfor %}

            {% if is_granted('ROLE_USER') %}
                <span class='pull-right text-muted'>{{ document.score }}</span><br/>
            {% endif %}
        </a>
    {% endfor %}
</div>
