{% extends 'base.html.twig' %}

{% block title %}New Publisher{% endblock %}

{% block body %}
    <h1>New Publisher</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>

        <div class='btn-toolbar pb-1'>
            <div class='btn-group me-auto'>
                <input type="submit" value="Create" class="btn btn-primary" />
                <a href="{{ path('publisher_index') }}" class="btn btn-warning">Cancel</a>
            </div>
        </div>

        <div class='btn-toolbar pb-1'>
            <div class='btn-group ms-auto'>
                <a href="{{ path('place_new') }}" class="btn btn-primary" target="_blank"><span class="bi bi-plus-lg"></span> Place</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}