{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>PublicationType List</h1>
    <p class="count">
        Displaying {{ publicationTypes|length }} publicationTypes of {{ publicationTypes.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

	<div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('publication_type_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Label</th>
                <th>Description</th>
				<th>Count</th>
        </thead>
        <tbody>
			{% for publicationType in publicationTypes %}
				<tr>
					<td>
						<a href="{{ path('publication_type_show', { 'id': publicationType.id }) }}">
							{{ publicationType.label }}
						</a>
					</td>
					<td>{{ publicationType.description }}</td>
					<td>
						{{ publicationType.publications|length }}
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(publicationTypes) }}
    </div>

{% endblock %}
