{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Alias Add</h1>
    <p>Use the form below to search for aliases by name and add them to {{ author.fullname }} ({{ author.birthDate }}-{{author.deathDate}}).</p>
    <p>Current aliases: {{ author.aliases|join(',')}}</p>
{% endblock %} 

{% block body %}

    <form method="get" action="{{ path('author_alias_add', {'id': author.id}) }}" class="form-horizontal">
        <fieldset>
            <legend>Search</legend>
            <div class='form-group'>
                <label class='col-sm-2 control-label' for='q'>Search term</label>
                <div class='col-sm-10'>
                    <div class='input-group'>
                        <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class='glyphicon glyphicon-search'></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    {% if aliases|length %}
        <form method="post" action="{{ path('author_alias_add', {'id': author.id}) }}" class="form-horizontal">
            <fieldset>
                <legend>Aliases</legend>

                {% for a in aliases %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="alias_id[]" value="{{a.id}}">
                                    {{ a.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <a href="{{ path('author_show', { 'id': author.id }) }}" class="btn btn-warning">Cancel</a>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}
