{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>Author List</h1>
    <p class="count">
        Displaying {{ authors|length }} authors of {{ authors.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

        <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('admin_author_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
        </div>
    </div>
        
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Sortablename</th>
                <th>Birthdate</th>
                <th>Deathdate</th>
                <th>Created</th>
                <th>Updated</th>            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>
                    <a href="{{ path('admin_author_show', { 'id': author.id }) }}">
                        {{ author.fullName }}
                    </a>
                </td>
                <td>{{ author.sortableName }}</td>
                <td>{% if author.birthDate %}{{ author.birthDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if author.deathDate %}{{ author.deathDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if author.created %}{{ author.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if author.updated %}{{ author.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(authors) }}
    </div>

{% endblock %}
