{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Publication Remove</h1>
    <p>Use the form below to select publications and remove them from {{ author.fullname }} ({{ author.birthDate }}-{{author.deathDate}}).</p>
{% endblock %} 

{% block body %}

    <form method="post" action="{{ path('admin_author_publication_remove', {'id': author.id}) }}" class="form-horizontal">
        <fieldset>
            <legend>Publications</legend>

            {% for a in author.publications %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="publication_id[]" value="{{a.id}}">
                                {{ a.title }}
                            </label>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </fieldset>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a href="{{ path('admin_author_show', { 'id': author.id }) }}" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </form>

{% endblock %}
