{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Alias Add</h1>
    <p>Use the form below to select aliases and remove them from {{ author.fullname }} ({{ author.birthDate }}-{{author.deathDate}}).</p>
{% endblock %} 

{% block body %}

    <form method="post" action="{{ path('author_alias_remove', {'id': author.id}) }}" class="form-horizontal">
        <fieldset>
            <legend>Aliases</legend>

            {% for a in author.aliases %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="alias_id[]" value="{{a.id}}">
                                {{ a.name }}
                            </label>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </fieldset>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a href="{{ path('author_show', { 'id': author.id }) }}" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </form>

{% endblock %}
