{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block pageheader %}
    <h1>{{ book.title }}</h1>
    {% embed 'publication/partial/browse.html.twig' %}
    {% endembed %}
{% endblock %}

{% block body %}
    <div class="btn-toolbar pb-1">
        <div class="btn-group ms-auto">
            <a href="{{ path('book_index') }}" class="btn btn-light">
                <span class="bi bi-arrow-left"></span> Back
            </a>
            {% if is_granted('ROLE_CONTENT_EDITOR') %}
                <a href="{{ path('book_edit', { 'id': book.id }) }}" class="btn btn-light">
                    <span class='bi bi-pencil-square'></span> Edit
                </a>
                {% if is_granted('ROLE_CONTENT_ADMIN') %}
                    <a href="{{ path('book_delete', { 'id': book.id }) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this Book?">
                        <span class='bi bi-x'></span> Delete
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th><span data-bs-toggle="popover" data-content="Full title of the work" data-trigger="hover" data-placement="bottom">Title</span></th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th><span data-bs-toggle="popover" data-content="Year work published" data-trigger="hover" data-placement="bottom">Date</span></th>
                <td>{{ book.dateYear }}</td>
            </tr>
            <tr>
                <th><span data-bs-toggle="popover" data-content="Place of publication" data-trigger="hover" data-placement="bottom">Location</span></th>
                <td>{{ book.location }}</td>
            </tr>
            <tr>
                <th><span data-bs-toggle="popover" data-content="Publisher(s) of the work" data-trigger="hover" data-placement="bottom">Publisher</span></th>
                <td>
                    {% if book.publishers|length > 0 %}
                        <ul>
                            {% for publisher in book.publishers %}
                                <li>
                                    <a href="{{ path('publisher_show', {'id': publisher.id}) }}">{{ publisher }}</a>
                                </li>
                                {% endfor %}
                        </ul>
                        {% endif %}
                </td>
            </tr>
            {% if is_granted('ROLE_USER') %}
                <tr>
                    <th><span data-bs-toggle="popover" data-content="Name for sorting. Not visible to public." data-trigger="hover" data-placement="bottom">Sortable Title</span></th>
                    <td>{{ book.sortableTitle }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Links</th>
                <td>
                    {% include '@NinesMedia/link/partial/list.html.twig' with {'entity': book} %}
                </td>
            </tr>
            {% if is_granted('ROLE_USER') %}
                <tr>
                    <th>Old Links</th>
                    <td>
                        {% if book.oldLinks | length > 0 %}
                            <ul>
                                {% for link in book.oldLinks %}
                                    <li>
                                        <a href="{{ link }}">{{ link }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <p><i>Only shown to users who have logged in.</i></p>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th><span data-bs-toggle="popover" data-content="Notes about the entry" data-trigger="hover" data-placement="bottom">Notes</span></th>
                <td>{{ book.description|raw }}</td>
            </tr>
            <tr>
                <th><span data-bs-toggle="popover" data-content="Category of the work" data-trigger="hover" data-placement="bottom">Genres</span></th>
                <td>
                    {% if book.genres | length > 0 %}
                        <ul>
                            {% for genre in book.genres %}
                                <li>
                                    <a href="{{ path('genre_show', {'id': genre.id}) }}">
                                        {{ genre }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>

            {% if is_granted('ROLE_CONTENT_EDITOR') %}
                <tr>
                    <th><span data-bs-toggle="popover" data-content="These notes are only available to logged-in users" data-trigger="hover" data-placement="bottom">Research Notes</span></th>
                    <td>{{ book.notes|raw }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if book.contributions | length > 0 %}
        <h2>Contributors</h2>
        <ul>
            {% for contribution in book.contributions %}
                <li>
                    {% if contribution.role.name != 'author' %}
                        <i>{{ contribution.role }}</i>,
                    {% endif %}
                    {% embed 'person/partial/link.html.twig' with {'person': contribution.person} %}
                    {% endembed %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include '@NinesFeedback/comment/comment-interface.html.twig' with { 'entity': book } %}

{% endblock %}
