{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>Status List</h1>
    <p class="count">
        Displaying {{ statuses|length }} statuses of {{ statuses.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

        <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('admin_status_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
        </div>
    </div>
        
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Label</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>
                    <a href="{{ path('admin_status_show', { 'id': status.id }) }}">
                        {{ status.label }}
                    </a>
                </td>
                <td>{{ status.description }}</td>
                <td>{% if status.created %}{{ status.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if status.updated %}{{ status.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(statuses) }}
    </div>

{% endblock %}
