{% extends 'base.html.twig' %}

{% block title %}Create Book Contribtion{% endblock %}

{% block body %}
    <h1>Create Book Contribtion</h1>
    <p class="count">
        Creating contribution for <em>{{ book.title }}</em>.
    </p>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>

        <div class='btn-toolbar pull-left'>
            <div class='btn-group'>
                <input type="submit" value="Create" class="btn btn-primary" />
                <a href="{{ path('book_show_contributions', {'id': book.id}) }}" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block styles %}
    <link href="{{ asset('bower/select2/dist/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bower/select2-bootstrap-css/select2-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="{{ asset('bower/symfony-collection/jquery.collection.js') }}"></script>
{% endblock %}