{# @var results array #}
<h3>Results</h3>
<p class="count">
    {% if results.getPageCount > 0 %}
        {{ results.getTotalItemCount ~ ' ' ~ (q ? 'found' : 'total') }}.
        Showing page {{ results.getCurrentPageNumber }} of {{ results.getPageCount }} with results from {{ results.getPaginationData.firstItemNumber }} to {{ results.getPaginationData.lastItemNumber }}.
    {% else %}
        No results found.
    {% endif %}
</p>
<div class='list-group'>
    {% for hybridResult in results %}
        {% set result = hybridResult.result %}
        {% set entity = hybridResult.transformed %}

        <a href="{{ linker.link(entity) }}" class="list-group-item">
            <strong>{{ entity.entityClassName }}: {{ entity }}</strong><br />
            {% for field, highlights in entity.elasticHighlights %}
                <div>
                    {{ field|split('.')|first|capitalize }}:
                    {% for highlight in highlights %}
                        {{ highlight|raw }}<br />
                    {% endfor %}
                </div>
            {% endfor %}

            {% if is_granted('ROLE_USER') %}
                <p class="text-end text-muted">{{ result.score }}</p>
            {% endif %}
        </a>
    {% endfor %}
</div>
<div class="navigation">
    {{ knp_pagination_render(results) }}
</div>