{# @var string header #}
{# @var string name #}
{# @var buckets array #}
{% set query_params = app.request.query.all %}
<h3>{{ header }}</h3>
<ul class="list-group mb-3 list-group-flush">
    {% for range in ranges %}
        {% set id = 'range_filter_' ~ filterName ~ '_' ~ loop.index0 %}
        {% set selected = ('filters' in query_params|keys) and (filterName in query_params['filters']|keys) and (loop.index0 in query_params['filters'][filterName]) %}
        {% if range.count > 0 or selected %}
            <li class="list-group-item">
                <input id="{{ id }}" name="filters[{{ filterName }}][]" class="form-check-input me-1" type="checkbox" value="{{ loop.index0 }}" {{ selected ? 'checked="checked"' : '' }} />
                <label for="{{ id }}" class="form-check-label stretched-link">
                    {{ range.from ? range.from : 'Past' }} to {{ range.to ? range.to : 'Future' }}: {{ range.count }}
                </label>
            </li>
        {% endif %}
    {% endfor %}
</ul>
