{% extends 'base.html.twig' %}

{% block title %}{{ role.label }}{% endblock %}

{% block pageheader %}
    <h1>{{ role.label }}</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar pb-1">
        <div class="btn-group ms-auto">
            <a href="{{ path('role_index') }}" class="btn btn-light">
                <span class="bi bi-arrow-left"></span> Back
            </a>
            {% if is_granted('ROLE_CONTENT_EDITOR') %}
                <a href="{{ path('role_edit', { 'id': role.id }) }}" class="btn btn-light">
                    <span class='bi bi-pencil-square'></span> Edit
                </a>
                {% if is_granted('ROLE_CONTENT_ADMIN') %}
                    <a href="{{ path('role_delete', { 'id': role.id }) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this Role?">
                        <span class='bi bi-x'></span> Delete
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {{ include('@NinesUtil/term/partial/show.html.twig', { 'term': role }) }}

    <h2>{{ role.label }} List</h2>
    {{ include('person/partial/table.html.twig') }}
    <div class="navigation">
        {{ knp_pagination_render(people) }}
    </div>

{% endblock %}
