{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>Alias List</h1>
    <p class="count">
        Displaying {{ aliases|length }} aliases of {{ aliases.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

        <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('admin_alias_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
        </div>
    </div>
        
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Maiden</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>            </tr>
        </thead>
        <tbody>
        {% for alias in aliases %}
            <tr>
                <td>
                    <a href="{{ path('admin_alias_show', { 'id': alias.id }) }}">
                        {{ alias.maiden }}
                    </a>
                </td>
                <td>{{ alias.name }}</td>
                <td>{{ alias.description }}</td>
                <td>{% if alias.created %}{{ alias.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if alias.updated %}{{ alias.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(aliases) }}
    </div>

{% endblock %}
