{% extends 'base.html.twig' %}

{% block title %}Person Edit{% endblock %}

{% block body %}
    <h1>Person edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="btn-toolbar pb-1">
                <div class="btn-group me-auto">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <a href="{{ path('person_show', { 'id': person.id }) }}" class="btn btn-warning">Cancel</a>
                </div>
            </div>
            <div class="btn-toolbar pb-1">
                <div class='btn-group ms-auto'>
                    <a href="{{ path('alias_new') }}" class="btn btn-primary" target="_blank"><span class="bi bi-plus-lg"></span> Alt. Name</a>
                    <a href="{{ path('place_new') }}" class="btn btn-primary" target="_blank"><span class="bi bi-plus-lg"></span> Place</a>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}