{% extends 'base.html.twig' %}

{% block title %}Person Edit{% endblock %}

{% block body %}
    <h1>Person Creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <div class="btn-toolbar pull-left">
                <div class="btn-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a href="{{ path('person_index') }}" class="btn btn-warning">Cancel</a>
                </div>
            </div>
            <div class="btn-toolbar pull-right">
                <div class='btn-group'>
                    <a href="{{ path('alias_new_popup') }}" class="btn btn-primary popup" id="newPlace"><span class="glyphicon glyphicon-plus"></span> Alt. Name</a>
                    <a href="{{ path('place_new_popup') }}" class="btn btn-primary popup" id="newPlace"><span class="glyphicon glyphicon-plus"></span> Place</a>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
    <script>
        $(".popup").click(function (e) {
            e.preventDefault();
            var url = $(this).prop('href');
            window.open(url, "_blank", "toolbar=no,scrollbars=yes,resizable=yes,top=60,left=60,width=500,height=600")
        });
    </script>
{% endblock %}
