{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Author List</h1>
    <p class="count">
        Displaying {{ authors|length }} authors of {{ authors.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

	<div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('author_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
            <a href="{{ path('author_fulltext') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Fulltext search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Birthdate</th>
                <th>Birthplace</th>
                <th>Deathdate</th>
                <th>Deathplace</th>
			</tr>
        </thead>
        <tbody>
			{% for author in authors %}
				<tr>
					<td>
						<a href="{{ path('author_show', { 'id': author.id }) }}">
							{{ author.fullName }}
						</a>
					</td>
					<td>{{ author.birthDate }}</td>
					<td>
						{% if author.birthPlace %}
							<a href='{{ path('place_show', {'id': author.birthPlace.id}) }}'>
								{{ author.birthPlace }}
							</a>
						{% endif %}
					</td>
					<td>{{ author.deathDate }}</td>
					<td>
						{% if author.deathPlace %}
							<a href='{{ path('place_show', {'id': author.deathPlace.id}) }}'>
								{{ author.deathPlace }}
							</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(authors) }}
    </div>

{% endblock %}
