{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>Author Search</h1>
	{% if authors|length %}
    <p class="count">
        Displaying {{ authors|length }} authors of {{ authors.getTotalItemCount }} total.
    </p>
	{% endif %}
 {% endblock %} 

{% block body %}

    <form method="get" action="{{ path('admin_author_search') }}" class="form-horizontal">
        <fieldset>
            <legend>Search</legend>
            <div class='form-group'>
                <label class='col-sm-2 control-label' for='q'>Search term</label>
                <div class='col-sm-10'>
                    <div class='input-group'>
                        <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class='glyphicon glyphicon-search'></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    
	{% if authors|length %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Birthdate</th>
                <th>Birthplace</th>
                <th>Deathdate</th>
                <th>Deathplace</th>
				<th>B/A/P/N/R</th>
			</tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>
                    <a href="{{ path('admin_author_show', { 'id': author.id }) }}">
                        {{ author.fullName }}
                    </a>
                </td>
                <td>{{ author.birthDate }}</td>
					<td>
						{% if author.birthPlace %}
							<a href='{{ path('admin_place_show', {'id': author.birthPlace.id}) }}'>
								{{ author.birthPlace }}
							</a>
						{% endif %}
					</td>
                <td>{{ author.deathDate }}</td>
					<td>
						{% if author.deathPlace %}
							<a href='{{ path('admin_place_show', {'id': author.deathPlace.id}) }}'>
								{{ author.deathPlace }}
							</a>
						{% endif %}
					</td>
					<td>
						{{ author.getPublications('Book')|length -}}
						/
						{{- author.getPublications('Anthology')|length -}}
						/
						{{- author.getPublications('Periodical')|length -}}
						/
						{{- author.aliases|length -}}
						/
						{{- author.residences|length }}
					</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(authors) }}
    </div>
	{% endif %}

{% endblock %}
