{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Publication List</h1>
    <p class="count">
        Displaying {{ publications|length }} publications of {{ publications.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-left'>
        <div class='btn-group'>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for category in categories %}
                    <li>
                        <a href="?category={{ category.name }}">
                            {% if filterCategory is not null and filterCategory.id == category.id %}<span class="glyphicon glyphicon-check"></span> {% endif %} {{ category.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('publication_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
            <a href="{{ path('publication_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Location</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for publication in publications %}
                <tr>
                    <td>
                        <a href="{{ path('publication_show', { 'id': publication.id }) }}">
                            {{ publication.title }}
                        </a>
                    </td>
                    <td>{{ publication.dateYear }}</td>
                    <td>
                        {% if publication.location %}
                            <a href="{{ path('place_show', {'id': publication.location.id}) }}">
                                {{ publication.location }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{% if publication.created %}{{ publication.created|date }}{% endif %}</td>
                    <td>{% if publication.updated %}{{ publication.updated|date }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(publications) }}
    </div>

{% endblock %}
