{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Publication</h1>
{% endblock %} 

{% block body %}

    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('publication_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('publication_edit', { 'id': publication.id }) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-edit'></span> Edit
                </a>
                <a href="{{ path('publication_delete', { 'id': publication.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Publication?">
                    <span class='glyphicon glyphicon-remove'></span> Delete
                </a>
            {% endif %}
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ publication.title }}</td>
            </tr>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <tr>
                    <th>Sortabletitle</th>
                    <td>{{ publication.sortableTitle }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Date</th>
                <td>{{ publication.dateYear }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>
                    {% if publication.location %}
                        <a href="{{ path('place_show', {'id': publication.location.id }) }}">
                            {{ publication.location }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Category</th>
                <td>
                    <a href="{{ path('category_show', {'id': publication.category.id}) }}">
                        {{ publication.category }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>
                    {% set genres = publication.genres %}
                    {% if genres|length > 0 %}
                        <ul>
                            {% for genre in genres %}
                                <li>
                                    <a href="{{ path('genre_show', {'id': genre.id}) }}">
                                        {{ publication.genre }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            <tr>
                <th>Links</th>
                <td>{% if publication.links %}{{ publication.links|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ publication.description }}</td>
            </tr>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <tr>
                    <th>Notes</th>
                    <td>{{ publication.notes }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Created</th>
                <td>{% if publication.created %}{{ publication.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if publication.updated %}{{ publication.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% set contributions = publication.contributions %}
    {% if contributions|length > 0 %}
        <h2>Contributions</h2>
        <ul>
            {% for contribution in contributions %}
                <li>
                    <a href="{{ path('person_show', {'id': contribution.person.id}) }}">
                        {{ contribution.person}}
                    </a>
                    ({{ contribution.role }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include 'NinesFeedbackBundle:Comment:comment-interface.html.twig' with { 'entity': publication } %}				
    

{% endblock %}
