{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Contribution List</h1>
    <p class="count">
        Displaying {{ contributions|length }} contributions of {{ contributions.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Person</th>
                <th>Role</th>
                <th>Publication</th>
                <th>Created</th>
                <th>Updated</th>           
            </tr>
        </thead>
        <tbody>
            {% for contribution in contributions %}
                <tr>
                    <td>
                        <a href="{{ path('person_show', {'id': contribution.person.id}) }}">
                            {{ contribution.person }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('role_show', {'id': contribution.role.id}) }}">
                            {{ contribution.role }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('publication_show', {'id': contribution.publication.id}) }}">
                            {{ contribution.publication }}
                        </a>
                    </td>
                    <td>
                        {{ contribution.created }}
                    </td>
                    <td>
                        {{ contribution.updated }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(contributions) }}
    </div>

{% endblock %}
