{% extends 'base.html.twig' %}

{% block title %}Periodical Edit{% endblock %}

{% block body %}
    <h1>Periodical edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>

        <div class='btn-toolbar pb-1'>
            <div class='btn-group me-auto'>
                <input type="submit" value="Update" class="btn btn-primary" />
                <a href="{{ path('periodical_show', { 'id': periodical.id }) }}" class="btn btn-warning">Cancel</a>
            </div>
        </div>

        <div class='btn-toolbar pb-1'>
            <div class='btn-group ms-auto'>
                <a href="{{ path('periodical_show_contributions', { 'id': periodical.id }) }}" class="btn btn-primary"><span class="bi bi-pencil-square"></span> Contributions</a>
                <a href="{{ path('place_new') }}" class="btn btn-primary" target="_blank"><span class="bi bi-plus-lg"></span> Place</a>
                <a href="{{ path('person_new') }}" class="btn btn-primary" target="_blank"><span class="bi bi-plus-lg"></span> Person</a>
                <a href="{{ path('publisher_new') }}" class="btn btn-primary" id="newPublisher" target="_blank"><span class="bi bi-plus-lg"></span> Publisher</a>
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}
