{% extends 'base.html.twig' %}

{% block title %}Periodical Contribution Edit{% endblock %}

{% block body %}
    <h1>Periodical Contribution Edit</h1>
    <p class="count">
        Editing contribution for <em>{{ contribution.publication.title }}</em>.
    </p>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class='btn-group'>
        <input type="submit" value="Update" class="btn btn-primary" />
        <a href="{{ path('periodical_show_contributions', { 'id': contribution.getPublicationId() }) }}" class="btn btn-warning">Cancel</a>
    </div>
    <div class='btn-toolbar pb-1'>
        <div class='btn-group ms-auto'>
            <a href="{{ path('person_new') }}" class="btn btn-primary" target="_blank"><span class="bi bi-plus-lg"></span> Person</a>
        </div>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}