{% extends 'base.html.twig' %}

{% block title %}periodicals{% endblock %}

{% block pageheader %}
    <h1>Periodical List</h1>
    <p class="count">
        Displaying {{ periodicals|length }} periodicals of {{ periodicals.getTotalItemCount }} total.
    </p>
    <p>The data in our periodicals list has been accumulated from a number of sources, some more reliable than
        others. Data provided here should not therefore be used for statistical purposes.</p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('periodical_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </div>
    </div>

    <form method="get" action="{{ path('search_title') }}" class="form-horizontal">
        <input type='hidden' value='Periodical' name='filter[type][]'/>
        <div class='row'>
            {% embed '@NinesSolr/search/partial/search_field.html.twig' with {'path': 'search_title'} %}
            {% endembed %}
        </div>
    </form>
    {% include 'periodical/partial/table.html.twig' %}

    <div class="navigation">
        {{ knp_pagination_render(periodicals) }}
    </div>

    <div class="navigation">
        {% include 'misc/alpha.html.twig' with {'letters': activeLetters} %}
    </div>

{% endblock %}
