{% extends 'base.html.twig' %}

{% block title %}periodicals{% endblock %}

{% block pageheader %}
    <h1>Periodical List</h1>
    <p class="count">
        Displaying {{ periodicals|length }} periodicals of {{ periodicals.getTotalItemCount }} total.
    </p>
    <p>The data in our periodicals list has been accumulated from a number of sources, some more reliable than
        others. Data provided here should not therefore be used for statistical purposes.</p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pb-1'>
        <div class='btn-group ms-auto'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('periodical_new') }}" class="btn btn-light">
                    <span class="bi bi-plus-lg"></span> New
                </a>
            {% endif %}
        </div>
    </div>
    <form method="get" action="{{ path('search_title') }}">
        <input type='hidden' value='periodical' name='filters[type][]'/>

        <div class="input-group my-3">
            <input type="search" class="form-control" placeholder="Search term..." aria-label="Search term" name="q" id="q" value="" />
            <button class="btn btn-primary" type="submit" id='btn-search'>
                <i class="bi bi-search"></i> Search
            </button>
        </div>
    </form>
    {% include 'periodical/partial/table.html.twig' %}

    <div class="navigation">
        {{ knp_pagination_render(periodicals) }}
    </div>

    <div class="navigation">
        {% include 'misc/alpha.html.twig' with {'letters': activeLetters} %}
    </div>

{% endblock %}
