{% extends 'base.html.twig' %}

{% block title %}Create Periodical Contribtion{% endblock %}

{% block body %}
    <h1>Create Periodical Contribtion</h1>
    <p class="count">
        Creating contribution for <em>{{ periodical.title }}</em>.
    </p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>

        <div class='btn-toolbar pb-1'>
            <div class='btn-group me-auto'>
                <input type="submit" value="Create" class="btn btn-primary" />
                <a href="{{ path('periodical_show_contributions', {'id': periodical.id}) }}" class="btn btn-warning">Cancel</a>
            </div>
        </div>
        <div class='btn-toolbar pb-1'>
            <div class='btn-group ms-auto'>
                <a href="{{ path('person_new') }}" class="btn btn-primary" target="_blank"><span class="bi bi-plus-lg"></span> Person</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}